body{
  background-color: whitesmoke;
  color: rgb(59, 59, 59);
  margin: 0;
  padding: 20px;
}

.intro{
  max-width: 750px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.473);
  line-height: 1.2;
}

h2{
  text-align: center;
  margin-bottom: 30px;
  color: rgb(170, 0, 170);
}

h4{
  color: rgb(170, 0, 170);
}

.head{
  font-weight: bold;
  font-size: medium;
}
.data{
  margin-bottom: 12px;
  color: rgb(14, 12, 12)
}

.button{
  text-align: right;
  margin-top: 25px;
}

.start{
  width: 85px;
  height: 30px;
  font-size: 100%;
  background-color: rgb(170, 0, 170);
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.473);
  cursor: pointer;
  transition: 0.3ms;
}
.start:hover{
  opacity: 0.8;
}
.start:active{
  opacity: 0.5;
}
